.form-group-field {
  padding: 2%;
  display: inline-grid;
}

.form-group-actions {
  padding: 2%;
}

.signup-input {
  border-radius: 9px;
  border: 2px solid #01ecd5;
}

.signup-btn {
  border-radius: 9px;
  background-color: #4586ff;
  border: 2px solid white;
  color: white;
  padding: 7px 20px;
  width: 16em;
  margin-bottom: 10%;
}

.backdrop {
  background-img: ;
}
