.reservations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 4%;
  background-color: #4586ff;
  border-radius: 5px 30px;
  margin-bottom: 7px;
  margin-top: 5px;
  margin-right: 6px;
  margin-left: 6px;
  color: white;
  font-size: 1em;
}

.confirm-btn {
  border-radius: 9px 0px 0px 9px;
  color: white;
  background-color: lightseagreen;
  font-size: smaller;
}

.reject-btn {
  border-radius: 0px 9px 9px 0px;
  color: white;
  background-color: palevioletred;
  font-size: smaller;
}

#admin-btns {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
